/.vs/
/*.suo
/build/
/*/bin/
/*/obj/
/packages/
/tools/packages/
WebSharper.Google.CodePrettifySample/Content/*
bin/
obj/
/.fake/
/paket-files/
/.vscode/
nuget/*.paket.template
nuget/*.paket.template
